*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 3% 5%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}
.navbar-brand{
width: 100px;
height: 100%;
}
.brand-logo{
    height: 100%;
    width: 100%;
}
.language-select{
background: transparent;
    border: none;
    color: white;
}
.language-select:focus{
    outline: none;
}
.dropdown-container{
    border: 1px solid white;
    border-radius: 2px;
    padding: 0.4rem;
    ​background: rgba(0, 0, 0, 0.4);
}
.signin-button{
    background-color: #dc030f;
    border: 1px solid #dc030f;
    color: white;
    padding: .25rem 0.5rem;
    border-radius: 4px;
}
.nav-items{
    display: flex;
    gap: 10px;
    
}
.hero-bg-image-container{
    width: 100%;
    height: 80vh;
}
.hero-bg-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-bg-overlay{
position: absolute;
inset: 0;
width: 100%;
height: 80vh;
​background: rgba(0, 0, 0, 0.4);
​background-image: linear-gradient( to top,
 rgba(0, 0, 0, 0.8) 0, 
 rgba(0, 0, 0, 0) 60%, 
 rgba(0, 0, 0, 0.8) 100% ); 
}
.hero-card{
    position: absolute;
    top: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hero-title{
    font-weight: 600;
    font-size: 2rem;
}
.hero-subtitle, 
.hero-description{
font-weight: 400;
font-size: 1rem;
}
.hero-description{
    margin: 0 50px;
}
.email-input{
    border: none;
    background: transparent;
    width: 100%;
    height: 100%;
    padding-left:  7px;
}
.email-input:focus + .email-label{
    top: 0.2rem;
    font-size: 10px;
}
.form-container{
    position: relative;
    background-color: white;
    width: 90%;
    height: 50px;
}
.email-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.email-label{
    color: black;
    position: absolute;
    top:28%;
    left: 2%;
    color: rgb(153, 149, 149);
    transition: 0.5s;

}
.email-input:not(:placeholder-shown).email-input:not(:focus) + .email-label{
    top: .2rem;
    font-size: 10px;
}
.email-inpu  t:focus-visible{
    outline: none;
}
.primary-button{
    background-color: #dc030f;
    border: 1px solid #dc030f;
    color: white;
    padding: .8rem 1.2rem;
    border-radius: 2px;
    font-size: 15px;
    letter-spacing: 1px;
}
.feature-detail{
    text-align: center ;
}
.feature{
    border-top: 8px solid #222;
    padding: 2rem 1rem;
}
.feature-title{
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0;
}
.feature-subtitle{
    font-size: 15px;
    font-weight: 400;
}
.feature-image-container{
    width: 100%;
    position: relative;
}
.feature-image{
    width: 100%;
}
.feature-background-video-container{
   position: absolute;
    width: 100%;
    top: 20%;
    top: 20%;
    left: 13%;
    height: 1 00%;
    max-width: 73%;
    max-height: 54%;
    z-index: -2;
}
.feature-background-video{
    width: 100%;
}

.feature-2-poster-container{
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    max-width: 16em;
    display: flex;
    align-items: center;
    background-color: black;
    ​border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    height: 60px;
    padding: 0.25rem  0.6rem;
    gap: 20px;
}
.poster-container{
    width: 15%;
}
.poster{
    width: 100%;
    height: 100%;
}
.poster-details{
    width: 60%;
}
.poster-details > h4 {
    font-size: 13px;
    font-weight: 500;
}
.poster-details > h6 {
    font-size: 10px;
    font-weight: 300;
    color: rgb(63,63,246);
}
.download-gif-container{
    width: 20%;
    height: 100%;
}
.gif{
    width: 100%;
    height: 100%;

}
.feature-3-background-video-container{
    max-width: 63%;
    max-height: 47%;
    z-index: -2;
    top: 9%;
    left: 19%;
}
.faq-accordian{
    width: 100%;
}
.faq-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    font-size: 18px;
    background-color: #303030;
    border: 1px solid #303030;
    color: white;
}
.faq-list-container{
    border-top: 8px solid #222;
}
.faq-visible{
    background-color: #303030;
    border-top: 1px solid black;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}
.faq-visible >p{
    margin: 1rem 0;
 .faq-heading{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin: 1rem 2rem;
}
.faq-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;  
}
@media (min-width: 768px){

    .hero-bg-image-container{
        height: 100h ;
    }
    .hero-card{
        top: 30%;
        left: 30%;
        transform: translate(-20%, -20%);
    }
    .hero-title{
        font-size: 3rem;
    }
    .hero-subtitle, 
.hero-description{
font-size: 1.3rem;
}
.feature{
    padding: 4rem  ;
}
.feature-title{
    font-size: 35px;
}
.feature-subtitle{
    font-size: 20 px;
}
.feature-2-poster-container{
    max-width: 26em;
    height: 85px;
}
.poster-container{
    width: 15%;
}
.gif{
    width: 3rem;
    height: 3rem;
}
.poster-details > h4{
    font-size: 18px;
}
.poster-details > h6{
    font-size: 14px;
}
.faq-title{
    font-size: 20px;
}
.faq-heading{
    font-size: 38px;
    font-weight: 500;
    letter-spacing: 1px;
}
.faq-list{
    padding: 1rem 5rem;
}
}

@media (min-width: 1024px){
    .navbar{
        padding: 2% 5%;
    } 
    .navbar-brand{
        width: 150px;
    }
    .signin-button{
        padding: 10px 20px;
        font-size: 18px;
    }
    .dropdown-container{
        padding: 10px 5px;
        border-radius: 4px;
    }
    .nav-items{
        gap: 30px;
    }
    .form-container{
        width: 50%;
    }
    .email-form-container{
        flex-direction: row;
        align-items: center;
        gap: 1px;
    }
    .primary-button{
        height: 50px;
    }
    .feature{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;  
    }
    .feature-detail{
        
        text-align: left;
        padding-top: -2rem;
        padding: 0 4rem;
    }
    .feature-title{
        font-size: 50px;
    }
    .feature-subtitle{
        font-size: 25px;
    }
    .feature-image-container{
        max-width: 500px;
    }
    .feature:nth-child(even){
        flex-direction: row-reverse;
    }
.feature-2-poster-container{
    max-width: 18rem;
    height: 100px;
    padding: 1rem 1rem;
}
.poster-container{
    width: 20%;
}
.faq-list{
    padding: 1rem 25rem;
}
}
@media (min-width: 1254px){

}
